spring:
  profiles:
    active: local
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql
  datasource:
    driver-class-name: org.h2.Driver
  jpa:
    database-platform: ${database-platform}
    hibernate:
      ddl-auto: none
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
